<?xml version="1.0" ?>

<launch>

  <!-- Run the map server  willowgarage.yaml"/> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner_demo)/enova_big1.yaml"/>

  <!--- Run AMCL -->
  <!--- We load ACML here with diff=true to support our differential drive robot -->
  <!--include file="$(find amcl)/examples/amcl_diff.launch" / -->


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find teb_local_planner_demo)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find teb_local_planner_demo)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find teb_local_planner_demo)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find teb_local_planner_demo)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find teb_local_planner_demo)/config/base_local_planner_params.yaml" command="load" />
    <!--rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/teb_local_planner_params.yaml" command="load" /-->
    <!-- Here we load our costmap conversion settings -->
	<!--rosparam file="$(find teb_local_planner_demo)/config/costmap_converter_params.yaml" command="load" /--> 

	<!--<param name="base_global_planner" value="global_planner/GlobalPlanner" />
	<param name="planner_frequency" value="1.0" />
	<param name="planner_patience" value="15.0" />

	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	<param name="controller_frequency" value="2.0" />
	<param name="controller_patience" value="20.0" />-->

  </node>
  
</launch>
